.form-survey {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 0.75rem;
}

.radios {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
