.game-card {
  border: 1px solid #fff;
  width: 250px;
  height: 300px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.game-card:hover {
  background-color: #c2185b;
}

.icon-card {
  font-size: 100px;
  height: 100px;
  width: 100px;
}
