<mat-sidenav-container fullscreen>
  <!-- #sidenav Referencia local -->
  <mat-sidenav class="sidenav" #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menu</span>

      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <span>{{ user?.displayName }}</span>
      </a>

      <mat-divider></mat-divider>

      <a
        *ngFor="let route of routesSideNav"
        [routerLink]="[route.to]"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
        <span>{{ route.routeName }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="detailsUser" *ngIf="user?.photoURL">
      <img class="userImage" [src]="user?.photoURL" alt="User image" />
    </div>

    <span class="spacer"></span>

    <button mat-icon-button>
      <mat-icon>dark_mode</mat-icon>
    </button>

    <mat-slide-toggle color="primary"></mat-slide-toggle>

    <button mat-icon-button>
      <mat-icon>brightness_low</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="onLogout()">
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
