.chat-container {
  height: 60vh;
  width: 60vw;
  min-width: 300px;
}

.container-chat {
  border: 2px solid #c2185b;
  border-radius: 10px;
  padding: 5px;
}

.container-send-message {
  width: 60vw;
  min-width: 300px;
}

.image-chat-user {
  width: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

.name-chat-user {
  font-weight: 500;
}

.message-user {
  margin-top: 10px;
}
